@import '../../grid.scss';
@import '../../app.scss';

.center {
  margin: 0 auto;
}

.container-statistic {
  padding: 0 40px 40px 40px;
  display: flex;
  align-items: center;
  flex-direction: column;

  .col > .MuiFormControl-root {
    margin: 0;
    width: 100%;

    .MuiListItemText-root {
      margin: 0;
    }
  }

  .row.first {
    padding: 16px;
    justify-content: space-between;
    row-gap: 16px;
  }

  .graph-container,
  .container-age-chart {
    padding: 24px 0;
  }

  .age-chart {
    row-gap: 24px;
  }

  .col {
    .MuiTableContainer-root .MuiTable-root {
      border-top: 1px solid #e0e0e0;
    }
  }
}

.statistic-img {
  margin: 40px 0;
  display: flex;
  justify-content: center;

  img {
    width: 80%;
  }
}

// General page
.general-container {
  .header {
    font-size: 2.4rem;
    margin: 20px auto;
    text-align: center;

    p {
      font-size: 1.6rem;
      color: #999;
    }
  }

  h3 {
    font-size: 2rem;
  }

  .figure {
    font-size: 2.4rem;
    color: aliceblue;
    background-color: #7977fc;
    padding: 4px 10px;
    border-radius: 10px;
  }

  // Population + gender ratio
  .population {
    // margin: 0 auto;

    .detail {
      display: flex;

      > div {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }

    .gender-icon {
      width: 50%;
    }

    .population-img {
      display: flex;
      justify-content: center;
    }
  }

  .boygirl-img {
    display: flex;
    justify-content: center;

    img {
      width: 60%;
    }
  }

  // laborCount
  .laborCount {
    text-align: center;
  }

  // Religion
  .religion {
    .religion-img {
      display: flex;
      justify-content: center;
    }

    img {
      width: 60%;
    }
  }

  // Dan toc
  .ethnic {
    .ethnic-img {
      display: flex;
      justify-content: center;
    }

    img {
      width: 60%;
    }
  }

  .printButton {
    margin-left: 20px;
    margin-top: 50px;
  }
}

// responsive tablet
@media (min-width: 740px) and (max-width: 1023px) {
  .container-statistic {
    height: 100vh;
  }
}

// >= tablet <= pc low resolution
@media (min-width: 1024px) and (max-width: 1239px) {
  .container-statistic {
    height: 100vh;
  }
}

// responsive mobile
@media (max-width: 739px) {
  .container-statistic {
    padding: 0 20px 30px 20px;

    h2 {
      padding: 20px 0;
    }
  }
}

/* > PC medium resolution  */
@media (min-width: 1113px) {
}
