@import '../../grid.scss';
@import '../../app.scss';

.footer {
  background-color: #dceaf7;

  .row.copy-right {
    padding: 8px;
    background-color: #91c6f8;
  }

  h5 {
    color: #4b49ac;
    text-align: center;
  }

  @media (max-width: 739px) {
    h5 {
      font-size: 10px;
    }
  }
}
