@import '../../app.scss';
@import '../../grid.scss';

.container-task {
  padding: 0 40px;
  height: 100vh;

  .col > .MuiFormControl-root {
    margin: 0;
    width: 100%;

    .MuiListItemText-root {
      margin: 0;
    }
  }

  .row.first {
    padding: 20px 16px 16px 16px;
    justify-content: space-between;
    row-gap: 16px;
    margin-bottom: 24px;

    .task-button {
      width: 100%;
      height: 56px;
    }

    .day-picker-form > .MuiFormControl-root {
      width: 100%;
    }
  }
}

.MuiDataGrid-columnHeaderTitleContainer {
  justify-content: center;
}

.MuiDataGrid-cell {
  text-align: center !important;
}

.MuiDataGrid-actionsCell {
  grid-gap: 0px !important;
}

.status.lock {
  background-color: #d47483;
  font-weight: 600;
}

.status.finished {
  background-color: rgba(157, 255, 118, 0.49);
  font-weight: 600;
}

.status.unfinished {
  background-color: rgba(224, 183, 60, 0.55);
  font-weight: 600;
}

ul.MuiDataGrid-menuList > li.MuiMenuItem-root.MuiButtonBase-root:nth-child(1) {
  display: flex;
  justify-content: flex-start;

  padding: 6px 16px;
  box-sizing: border-box;
  width: 100px;
}

ul.MuiDataGrid-menuList > li.MuiMenuItem-root.MuiButtonBase-root:nth-child(2),
ul.MuiDataGrid-menuList > li.MuiMenuItem-root.MuiButtonBase-root:nth-child(3) {
  display: none;
}

.MuiDataGrid-columnHeader > .MuiDataGrid-columnHeaderDraggableContainer {
  position: relative;
}

.MuiDataGrid-columnHeaderDraggableContainer
  > .MuiDataGrid-menuIcon
  > button.MuiDataGrid-menuIconButton {
  position: absolute;
  right: -5px;
}

// responsive tablet
@media (min-width: 740px) and (max-width: 1023px) {
  .container-task {
    // height: 81vh;
  }
}

// >= tablet <= pc low resolution
@media (min-width: 1024px) and (max-width: 1239px) {
  .container-task {
    // height: 86vh;
  }
}

// responsive mobile
@media (max-width: 739px) {
  .container-task {
    padding: 0 20px;
    // height: 77vh;

    h2 {
      padding: 20px 0;
    }
  }
}

/* > PC medium resolution  */
@media (min-width: 1113px) {
}
